* {
  // position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1370px;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 1440px) {
    width: 1070px;
  }
  @media (max-width: 1140px) {
    width: 920px;
  }
  @media (max-width: 980px) {
    width: 100%;
    padding: 0 40px;
  }
  @media (max-width: 640px) {
    padding: 0 30px;
  }
  @media (max-width: 424px) {
    padding: 0 16px;
  }
}

.scrollup {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 60px;
  right: 30px;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba($color: rgba(161, 159, 159, 0.849), $alpha: 0.2);
  @media (max-width: 768px) {
    height: 40px;
    width: 40px;
    &__img {
      display: block;
      margin: auto;
      width: 22px;
      height: 20px;
    }
  }
  &:hover {
    background-color: rgba($color: rgba(161, 159, 159, 0.849), $alpha: 0.2);
    transition: all 0.3s;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__img {
    display: block;
    margin: auto;
    width: 22px;
    height: 20px;
  }
}
