.header {
  position: relative;
  height: 130px;
  padding-top: 15px;
  .circle-blue {
    position: absolute;
    right: 0;
    top: -6px;
    height: 405px;
    width: 380px;
    z-index: -1;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__nav {
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    list-style-type: none;
    display: none;
    flex-direction: row;
    width: 617px;
    justify-content: space-between;
    @media (min-width: 1200px) {
      display: flex;
    }
    &-link {
      color: #000;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      &:hover,
      &:active,
      &:visited {
        color: #000;
        text-decoration: none;
      }
      // &:after {
      //   content: "";
      //   position: absolute;
      //   margin-top: 20px;
      //   width: 100%;
      //   height: 0.5px;
      //   bottom: 0;
      //   left: 0;
      //   background-color: #000;
      //   transform: scaleX(0);
      //   transform-origin: bottom right;
      //   transition: transform 0.3s;
      // }
      // &:hover {
      //   &:after {
      //     margin-top: 5px;
      //     transform-origin: bottom left;
      //     transform: scaleX(1);
      //   }
      // }
    }
  }
  &__logo {
    height: calc(84px * 0.8);
    width: calc(300px * 0.8);
    @media (min-width: 575px) {
      height: 84px;
      width: 300px;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
  }
  &__additional {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 216px;
    @media (min-width: 1200px) {
      display: flex;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 136px;
    &-link {
      opacity: 100%;
      &:hover {
        opacity: 70%;
      }
    }
  }
}
