.services {
  margin-top: 50px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: inside;
    &_item {
      display: block;
      font-size: 25px;
      font-weight: 300;
      line-height: 25px;
      &:first-child {
        margin-top: 100px;
        @media (max-width: 640px) {
          margin-top: 50px;
        }
      }
      &:not(:first-child) {
        margin-top: 50px;
        @media (max-width: 640px) {
          margin-top: 30px;
        }
      }
      @media (max-width: 640px) {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
